.card {
  border 1px solid grey;
  padding: 1rem;
  margin-top: 1rem;
}
.content {
display: table;
margin: 0 auto;
}
body {
  background: rgb(229, 228, 226);
  color: #333;
  font-family: 'Open Sans', sans-serif;
  /*display: table;
  margin: 0 auto;*/
}

article {
  width: 23rem;
  height: auto;
  border: 1px solid gray;
  border-radius: 7px;
  padding: 0 2rem 1rem 2rem;
  margin-top:1.5rem;
  margin-bottom: 1rem;
  /*margin-left:15%;*/
  background: rgba(255, 0, 255,.5);
  }
h1 {
  font-size:2em;
}
h2 {
  font-size:1.5em;
}
p {
  font-size:100% !important;
}
span.red{
  color:red;
}
span.blue{
  color:blue;
}
span.green{
  color:green;
}
span.st{
  text-decoration: line-through;
}
footer {
  display: table;
  margin: 0 auto;
}
